.header-content-test {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.btn-test {
  margin-right: 5%;
}
.btn-document {
  margin-right: 30%;
}
.button-test {
  background-color: rgba(221, 244, 255, 1);
  border: 2px solid;
  border-color: rgba(132, 216, 255, 1);
  color: rgb(41, 182, 247);
  font-weight: 600;
}
.button-document {
  background-color: rgba(221, 244, 255, 1);
  border: 2px solid;
  border-color: rgba(132, 216, 255, 1);
  color: rgb(41, 182, 247);
  font-weight: 600;
}
.test {
  height: 100%;
}
.document {
  height: 100%;
}
.cardTest-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardTest {
  display: grid;
  align-items: center;
  width: 70%;
}
.cardTest-text {
  margin-bottom: 5%;
}
.cardTest-text .ant-typography {
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.cardTest-record {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.cardTest-record .ant-typography {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.cardTest-img {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.cardTest-img img {
  width: 70%;
  margin-left: 30%;
}
.cardTest-img button {
  width: 120%;
  margin-left: 5%;
  margin-top: 10%;
  background-color: rgba(221, 244, 255, 1);
  color: rgba(132, 216, 255, 1);
  font-weight: 600;
  border: 2px solid;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .btn-test {
    margin-right: 3%;
  }
  .btn-document {
    margin-right: 15%;
  }
  .ask h2{
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .main{
    margin: 8% 0% 0% 0% !important;
  }
  .header{
    width: 100% !important;
  }
  .btn-test {
    margin-right: 5%;
  }
  .btn-document {
    margin-right: 10%;
  }
  .cardTest {
    display: grid;
    align-items: center;
    width: 50%;
  }
  .cardTest-record {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10%;
  }
  .cardTest-content{
    display: flex;
    flex-direction: row !important;
  }
  .cardTest-img img {
    width: 70%;
    margin-left: 40%;
  }
  .cardTest-img button {
    width: 120%;
    margin-left: 15%;
    margin-top: 10%;
    background-color: rgba(221, 244, 255, 1);
    color: rgba(132, 216, 255, 1);
    font-weight: 600;
    border: 2px solid;
  }
  .ask h2{
    text-align: center;
  }
  
}
@media (max-width: 480px) {
  .main{
    margin: 8% 0% 0% 0% !important;
  }
  .header{
    width: 100% !important;
  }
  .btn-test {
    margin-right: 5%;
  }
  .btn-document {
    margin-right: 5%;
  }
  .cardTest-img img {
    width: 70%;
    margin-left: 20%;
  }
  .cardTest-img button {
    width: 100%;
    margin-left: 5%;
    margin-top: 10%;
    background-color: rgba(221, 244, 255, 1);
    color: rgba(132, 216, 255, 1);
    font-weight: 600;
    border: 2px solid;
  }
  .header-content-test .flag-container, .header-content-test .fire-icon, .header-content-test .toggleDarkMode{
    display: none;
  }
  .header-content-test{
    justify-content: center !important;
  }
  .ask h2{
    text-align: center;
  }
}

