.demo-logo-vertical {
  height: 32px;
  margin: 16px;
}
.title {
  color: rgb(88, 204, 2);
  text-align: center;
  margin: 16px 0;
  font-size: 30px;
  font-weight: bold;
}

.ant-layout-sider-children {
  background-color: #fff;
  border-right: 1px solid #ccc;
}
.ant-menu-title-content {
  font-size: 16px;
  font-weight: 700;
}
/* Menu.style.css */
.demo-logo-vertical {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.ant-menu-item-icon {
  color: #1890ff;
}

.ant-menu-item {
  display: flex;
  align-items: center;
}

.ant-menu-item span {
  margin-left: 10px;
}

/* Hide scroll bar */
.ant-layout-sider {
  overflow: hidden;
}

@media (max-width: 768px) and (min-width: 480px) {
  .menu {
    display: none;
  }
}
@media (max-width: 480px) {
  .menu {
    display: none;
  }
}
