.wrapListItem{
    color: #afafaf;
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 50px;

}

.wrapListItem li{
    margin-right: 35px; 
    padding-bottom: 6px;
    border-bottom: 3px solid transparent ;
}

.wrapListItem li:hover{
    color: #1cb0f6;
    border-bottom: 3px solid #1cb0f6 ;
}

.boxContents{
    width: 60%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-bottom: 2px solid rgb(225, 225, 225);
    padding-bottom: 40px;
    cursor: default;
}

.boxContents h2{
    color: #3c3c3c;
    font-weight: 600;
}
.boxContents p{
    color: #777;
    font-weight: 500;
    line-height: 25px;
}

.wrapContent{
    margin-left: 60px;
}

.wrapPicture{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .d-none{
        display: none;
    }
    .wrapListItem{
        flex-wrap: wrap;
    }
    .boxContents .wrapContent{
        margin-left: 0 !important;
    }
    .boxContents 
    {
        width: 100%;
    }
    .breadCrumb{
        margin-left: 0;
        padding: 0 6%;
    }
}

@media (max-width: 1023px) and (min-width: 768px)
{
    .breadCrumb {
        margin-left: 30%;
    }
    .boxContents{
        width: 90%;
    }
    .effeSide2{
        display: none;
    }
    .effecSide3 img{
        width: 100%;
    }
    .imgInves{
        display: none;
    }
    .wrapInves{
        width: 100% !important;
    }
}