
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 320px;
  width: 400px;
}

.login_heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1890ff;
}

.ant-input-affix-wrapper .anticon {
  color: rgba(0, 0, 0, 0.25);
}
.antFormItem {
  margin-left: -10%;
}
.ant-input-affix-wrapper:focus{
  border-color: #1890ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.ant-input-affix-wrapper-focused {
  border-color: #1890ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.login-form-button {
  width: 100%;
  background-color: #1890ff;
  border-color: #1890ff;
}

.login-form-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.login-form-forgot {
  float: right;
}

@media (max-width: 576px) {
  .login-form {
    padding: 20px;
  }
}
.login-signUp {
  display: block;
  margin-top: 10px;
}
