.listRef .ant-card-body{
    padding: 12px 24px 12px 24px !important;
}

.responsive-hide .listRankPlayer{
    list-style: none;
    padding: 0 !important;
}

.itemRankPlayer{
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
}

.itemRankPlayer.active{
    color: #72e919 !important;
}
.itemRankPlayer .fullname{
    margin-left: 10%;
}
.wrapScore{
    margin-left: auto;
}
