.listRef .ant-card-body{
    padding: 12px 24px 12px 24px !important;
}

.responsive-hide .listRankPlayer{
    list-style: none;
    padding: 0 !important;
}

.itemRankPlayer{
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.itemRankPlayer.active{
    color: #72e919;
}
.itemRankPlayer .fullname{
    margin-left: 10px;
}
